<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.10" targetFramework="net45" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="Moserware.Skills" version="1.0.0.1" targetFramework="net45" />
  <package id="Moserware.Skills.Sample" version="1.0.0.0" targetFramework="net45" />
</packages>